@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .background-light900_dark900 {
    @apply bg-light-900 dark:bg-dark-900;
  }

  .background-dark900_light900 {
    @apply bg-dark-900 dark:bg-light-900;
  }

  .background-light100_dark100 {
    @apply bg-light-100 dark:bg-dark-100;
  }
  .bg-lightStone200_darkStone200 {
    @apply bg-light-graystone-200 dark:bg-dark-graystone-200;
  }
  .bg-lightWhite20_darkWhite20 {
    @apply dark:bg-light-white-20 bg-dark-white-20;
  }

  .background-light50_dark50 {
    @apply bg-light-50 dark:bg-dark-50;
  }

  .text-light950_dark-950 {
    @apply text-light-text-950 dark:text-dark-text-950;
  }
  .text-dark950_light-950 {
    @apply text-dark-text-950 dark:text-light-text-950;
  }
  .text-light700_dark-700 {
    @apply text-light-text-700 dark:text-dark-text-700;
  }
  .text-light500_dark-700 {
    @apply text-light-text-500 dark:text-dark-text-700;
  }
  .text-light500_dark-500 {
    @apply text-light-text-500 dark:text-dark-text-500;
  }

  .h1-bold {
    @apply text-[30px] font-bold leading-[42px] tracking-tighter;
  }

  .h2-bold {
    @apply text-[24px] font-bold leading-[31.2px];
  }

  .h2-semibold {
    @apply text-[24px] font-semibold leading-[31.2px];
  }

  .h3-bold {
    @apply text-[20px] font-bold leading-[26px];
  }

  .h3-semibold {
    @apply text-[20px] font-semibold leading-[24.8px];
  }

  .base-medium {
    @apply text-[18px] font-medium leading-[25.2px];
  }

  .base-semibold {
    @apply text-[18px] font-semibold leading-[25.2px];
  }

  .base-bold {
    @apply text-[18px] font-bold leading-[140%];
  }

  .paragraph-regular {
    @apply text-[16px] font-normal leading-[22.4px];
  }

  .paragraph-medium {
    @apply text-[16px] font-medium leading-[22.4px];
  }

  .paragraph-semibold {
    @apply text-[16px] font-semibold leading-[20.8px];
  }

  .body-regular {
    @apply text-[14px] font-normal leading-[19.6px];
  }

  .body-medium {
    @apply text-[14px] font-medium leading-[18.2px];
  }

  .body-semibold {
    @apply text-[14px] font-semibold leading-[18.2px];
  }

  .small-regular {
    @apply text-[12px] font-normal leading-[15.6px];
  }

  .small-medium {
    @apply text-[12px] font-medium leading-[15.6px];
  }

  .small-semibold {
    @apply text-[12px] font-semibold leading-[15.6px];
  }

  .subtle-medium {
    @apply text-[10px] font-medium leading-[13px] !important;
  }

  .subtle-regular {
    @apply text-[10px] font-normal leading-[13px];
  }

  .placeholder {
    @apply placeholder:text-light-400 dark:placeholder:text-light-500;
  }

  .invert-colors {
    @apply invert-0 dark:invert;
  }

  .container {
    @apply w-full lg:px-20;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }
  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }
}
